@import '../../styles';

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: 200;

  align-items: center;
  background: #fff;
  border: 1px solid #eee;
  display: flex;
  opacity: 0;
  padding: 20px;
  visibility: hidden;
  transform: translate3d(-50%, 10px, 0);
  transition:
    opacity $speed,
    visibility $speed,
    transform $speed;

  &Visible {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-50%, 0, 0);
  }
}

.toastIcon {
  margin-right: 10px;
}

.toastLabel {}

.toastClose {
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 4px;
}

.toastCloseIcon {
  display: block;
}