@import './index';

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
  background: #eee;
  -webkit-font-smoothing: antialiased;
  font-family: $sans;
}

button {
  appearance: none;
  cursor: pointer;
}

svg {
	fill: currentColor;
}