// General
// =============================================================================

@mixin mq_switch() {

	&_sm {

		@media #{$min_lg} {
			display: none;
		}
	}

	&_lg {

		@media #{$max_lg} {
			display: none;
		}
	}
}

@mixin columns($count, $gap: 0) {
	column-count: $count;
	column-gap: $gap;

	& > * {
		column-break-inside: avoid;
		break-inside: avoid;
		page-break-inside: avoid;
	}
}

@mixin cover() {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;
}

@mixin center() {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

@mixin center_vertical() {
	position: absolute;
	top: 50%;

	transform: translateY(-50%);
}

@mixin ellipsis() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin word_break() {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	word-break: break-word;
	hyphens: auto;
}

@mixin reset_list {
	list-style: none;
	margin: 0;
	padding: 0;
}


// Helpers
// =============================================================================

@mixin visually_unhide() {
	width: auto;
	height: auto;

	position: static;

	clip: auto;
	margin: 0;
	overflow: visible;
}

@mixin visually_hide() {
	width: 1px;
	height: 1px;

	position: absolute;

	border: 0;
	clip: rect(0 0 0 0);
	margin: -1px;
	overflow: hidden;
	padding: 0;

	&.focusable:active,
	&.focusable:focus {
		@include visually_unhide();
	}
}


// Layout
// =============================================================================

@mixin space_out() {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

/* Not to be used with a form container */
/* Use -webkit-overflow-scrolling: auto instead */
@mixin fake_scroll($touch: true) {
	overflow-y: auto;

	@if $touch {
		-webkit-overflow-scrolling: touch;
	}

	@else {
		-webkit-overflow-scrolling: auto;
	}
}