@import 'styles';

.hits {
	width: 100%;

	border-collapse: collapse;
}

.hitsBody {}

.hit {
  position: relative;

	box-shadow: 0 1px 0 0 #eee;

	@media #{$max_xl} {
		display: flex;
		flex-wrap: wrap;
		padding-top: 20px;
	}
}

.hitCell {
  max-width: 250px;
	width: 100%;

	margin-bottom: 20px;
	padding-right: 20px;
	vertical-align: middle;

	@media #{$min_sm} {
		width: 50%;
	}

	@media #{$min_xl} {
		max-width: 100px;
		width: auto;

		padding: 15px 20px 15px 0;
	}

	@media #{$min_xxl} {
		max-width: 250px;
	}
}

.hitCellLabel {
  color: #9ba4b0;
	display: block;
	margin-bottom: 5px;

	@media #{$min_xl} {
		display: none;
	}
}

.hitCellValue {
  display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
