@import '../../../styles';

.clearRefinements {
  align-items: center;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  padding: 11px 0;
  transition: color $speed;

  &[disabled] {
    display: none;
  }

  &:hover,
  &:focus {
    color: $accent;
  }
}

.clearRefinementsLabel {}

.clearRefinementsIcon {
  margin-left: 6px;
}