@import '../../../styles';

.filters {}

.filtersTrigger {

	@media #{$min_xl} {
		display: none;
	}
}

.filtersBody {
	align-items: center;
	display: flex;
	flex-wrap: wrap;

	@media #{$max_xl} {
		display: none;
		margin-top: 10px;
	}

	@media #{$min_xs} {
		margin-right: -10px;
		margin-left: -10px;
	}

	@media #{$min_xl} {
		margin: 0;
	}

	&Visible {

    @media #{$max_xl} {
      display: flex;
    }
	}
}