@import 'styles';

.pageMenuWrapper {}

.pageMenu {

  @media #{$max_lg} {
    position: fixed;
    top: 0;
    right: 0;

    opacity: 0;
    visibility: hidden;
    transition:
      opacity $speed,
      visibility $speed;
  }

  &Open {

    @media #{$max_lg} {
      opacity: 1;
      visibility: visible;
    }
  }
}
