@import '../../../styles';

.formSelect {
  width: 100%;

	appearance: none;
	background: #fff;
	border: 1px solid #e3e6ee;
	border-radius: 3px;
	cursor: pointer;
	padding: 13px 30px 14px 14px;

	&:disabled {
		cursor: default;
		opacity: 1;
  }

  &:invalid {}
}

.formSelectIcon {
	position: absolute;
	top: 50%;
	right: 14px;

	pointer-events: none;
	transform: translate(0, -50%);
}