@import '../../styles';

.history {
	align-items: center;
	color: #202020;
	display: flex;
	margin: 0;
	vertical-align: top;

	@media #{$min_lg} {
		font-size: 20px;
	}
}

.historyIcon {
	margin-right: 10px;
}

.historyItems {
	align-items: center;
	display: flex;
}

.historyItem {
	align-items: center;
	display: flex;
	padding: 20px 0 22px;

	&Link {
		color: inherit;
		text-decoration: none;
		transition: color $speed;

		&:hover,
		&:focus {
			color: $accent;
		}
  }

  &Page {
    font: inherit;
    line-height: inherit;
    margin: 0;
  }
}

.historyLabel {
	display: block;

	@media #{$max_sm} {
		max-width: 100px;

		@include ellipsis;
	}
}

.historyDivider {
  color: #000;
	margin: 0 5px;
}