@import '../../styles';

.toggle {
	align-items: center;
	appearance: none;
	background: none;
  border: 0;
	cursor: pointer;
	display: inline-flex;
  margin: 8px 0;
  outline: 0;
	padding: 0;
  text-align: left;
  transition: color $speed;

  &:hover,
  &:focus {
    color: $accent;
  }
}

.toggleLabel {
	margin-right: 12px;
}

.toggleHint {
	height: 24px;
	width: 40px;

	position: relative;

	background: #eee;
	border-radius: 12px;
  display: block;
  transition: background $speed;

	&:before {
		height: calc(100% - 4px);
		width: 50%;

		position: absolute;
		top: 50%;
		left: 0;

		background: #fff;
		border-radius: 50%;
		box-shadow: 0 2px 6px 0 rgba(#000, .15);
		content: "";
		display: block;
		margin: 0 2px;
		transform: translate(0, -50%);
		transition:
			box-shadow $speed,
			transform $speed;
  }

	&Active {
		background: $accent;

		&:before {
			transform: translate(calc(100% - 4px), -50%);
		}
	}
}