@import 'styles';

.nav {}

.navTitle {
  @include visually_hide;
}

.navList {
  @include reset_list;
}

.navItem {}

.navLink {
  color: inherit;
  display: block;
  text-decoration: none;

  &:hover:not(.navLinkActive),
  &:focus:not(.navLinkActive) {}

  &Active {
    background: rgba(#000, .15);
  }
}
