@import '../../styles';

.accordion {
  border: 1px solid #eee;
}

.accordionTrigger {
  width: 100%;

  background: none;
  border: 0;
  display: flex;
  justify-content: space-between;
  outline: 0;
  padding: 10px 20px;
  text-align: left;
  transition:
    background $speed,
    border-color $speed,
    color $speed;

  &:hover:not(.accordionTriggerActive),
  &:focus:not(.accordionTriggerActive) {}

  &Active {}
}

.accordionTriggerTitle {
  margin: 0;
}

.accordionTriggerActions {}

.accordionTriggerIcon {
  transition: transform $speed;

  &Active {
    transform: scaleY(-1);
  }
}

.accordionBody {
  border-top: 0;
  overflow: hidden;
  transition: height $speed * 2;
}

.accordionContent {
  border-top: 1px solid #eee;
  opacity: 0;
  padding: 20px;
  transition: opacity $speed;

  &Active {
    opacity: 1;
  }
}